<div class="jumbotron">
<div class="pull-left">
	<%= form_tag api_v1_reports_index_path, {method: :get , class: 'form-class'}  do %>
		<%=text_field_tag 'adword_present', nil, placeholder:'Word present in Adwords'%>
		<%= submit_tag("Get", class: "btn btn-success btn-sm") %>
	<% end %>

	<%= form_tag api_v1_reports_index_path, {method: :get , class: 'form-class'}  do %>
		<%=text_field_tag 'url_present', nil, placeholder:'Enter Url'%>
		<%= submit_tag("Get", class: "btn btn-success btn-sm") %>
	<% end %>

	<%= form_tag api_v1_reports_index_path, {method: :get , class: 'form-class'}  do %>
		<%=text_field_tag 'url_present', nil, placeholder:'Enter Url'%>
		<%= submit_tag("Get", class: "btn btn-success btn-sm") %>
	<% end %>
</div>

<div class="pull-right">
	<%= link_to "New Report", api_v1_reports_new_path, class: "btn btn-success btn-sm" %>
</div>

<table class="table">
   <thead>
      <tr>
         <th>Keyword</th>
         <th>Top Adwords</th>
         <th>Right Adwords</th>
         <th>Total Adwords</th>
         <th>Non Adwords</th>
         <th>Total Results</th>
         <th>Total Links</th>
      </tr>
   </thead>
   <tbody>
	<% @reports.each do |report| %>
  	  <tr>
        <td><%=report.keyword%></td>
        <td><%=report.top_adwords_number%></td>
        <td><%=report.right_adwords_number%></td>
        <td><%=report.total_adwords_number%></td>
        <td><%=report.non_adwords_number%></td>
        <td><%=report.total_results%></td>
        <td><%=report.total_links%></td>
      </tr>
	<%end%>
   </tbody>
</table>
</div>
